@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	section {
		@apply py-[75px];
	}
}

@layer components {
	.container {
		@apply max-w-full w-[1440px] px-5 mx-auto;
	}
	.btn {
		@apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] font-[600] mt-[38px] text-white;
	}
	.hollowBtn {
		@apply flex items-center gap-x-2 py-[15px] px-[35px] mt-[38px] border-2 border-zinc-400 rounded-full font-[600] text-zinc-800;
	}
	.heading {
		@apply text-[44px] leading-[50px] font-[700] text-headingColor;
	}
	.text_para {
		@apply text-[18px] leading-[25px] font-[400] text-textColor mt-[18px];
	}
	.header {
		@apply bg-[#DEE7F6] w-full h-[100px] leading-[100px];
	}
	.hero_section {
		@apply bg-[url('./assets/images/bgImage.jpg')] bg-no-repeat bg-cover;
		background-position: 0 50%;
	}
	.form_label{
		@apply text-textColor font-semibold text-[16px] mb-2;
	}
	.form_input{
		@apply w-full px-4 py-3 border border-solid border-[#0066ff61] focus:outline-none focus:border-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor cursor-pointer rounded-md;
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		@apply w-full;
	}
	section {
		@apply py-[35px];
	}
}

@media only screen and (max-width: 768px) {
	.heading {
		@apply text-[26px] leading-[36px];
	}
	.text_para {
		@apply text-[16px] leading-7 mt-3;
	}
}
